<section class="cont-page">

    <div class="cont-representacion">
        <!-- loading  -->
        <!-- <div class="loding-map">
            <div class="cont-text">
                <h3>Espere por favor</h3>
                <span>Localizando...</span>

            </div>
        </div> -->
        <!--   END - loading  -->

        <div class="cont-loadeer" *ngIf="!isUserLocationReady; else mapReady">

            <div class="loader">
                <div class="face">
                    <div class="circle"></div>
                </div>
                <div class="face">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="cont-text font">
                <h3>Espere por favor</h3>
                <span>Localizando...</span>

            </div>
        </div>
        

        <ng-template #mapReady>

            <component-buscador-bar></component-buscador-bar>
            
            <component-map-view ></component-map-view>

            <!-- <div style="width: 100%; height: 100%; background-color: red;"></div> -->

            <div class="cont-btn-my-location">
                <widget-button-my-location></widget-button-my-location>
            </div>

        </ng-template>
        

    </div>


</section>