<section class="container font">
    
    <div class="header animate__animated animate__backInUp animate__faster">
        <h1>Solicitud de id: {{data.idSolicitud}}</h1>
        <span>{{data.fechaSolicitada | date: 'long'}}</span>
    </div>
    <!-- <mat-divider>
    </mat-divider> -->
    <div class="body  animate__animated animate__backInUp animate__fast">
        <p>{{data.descripcion}}</p>
    </div>
    <!-- <div class="footer">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </div> -->

</section>