<section class="cont-page animate__animated animate__fadeIn">

    <section class="cont-body-edicion">


        <form #frmSolicitud [formGroup]="frmGroupSolicitud" class="form-edicion" (submit)="operar()">

            <div class="container-mff " style="display: none;">
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="idSolicitud">
                </mat-form-field>
            </div>



            <div class="row-ipt">

                <div class="container-mff">
                    <mat-form-field>
                        <!-- <mat-label for="sltEstatus">Estado</mat-label> -->
                        <mat-select placeholder="Tipo de servicio*" formControlName="servicio" id="sltEstatus">
                            <mat-option *ngFor="let servicio of servicios" [value]="servicio">
                                {{servicio.tipo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="container-mff">
                    <mat-form-field>
                        <mat-label>Cliente</mat-label>
                        <input matInput #iptTelefono type="text" placeholder="Ej. Mia" formControlName="cliente"
                            required>
                    </mat-form-field>
                </div>

            </div>


            <div class="row-ipt">


                <div class="container-mff">
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <textarea matInput #txArea formControlName="descripcion" maxlength="150" minlength="15"></textarea>
                        <mat-hint align="end">{{txArea.value.length}}/150</mat-hint>
                    </mat-form-field>
                </div>


            </div>


            <!--* seccion de botones - acciones  -->
            <div class="cont-accion-edicion ">

                <button mat-flat-button type="submit" color="primary"><mat-icon>check</mat-icon>
                    LISTO </button>

                <button mat-flat-button color="warn" type="button"><mat-icon>close</mat-icon>
                    CANCELAR </button>
            </div>

        </form>


    </section>

</section>