<section class="body">
    <!-- <div class="img-movimiento">
        <img src="../../../assets/statusHttp/Security_Outline.png" alt="">
    </div> -->
    <div class="conteiner">
        <div class="img-back animate__animated animate__zoomIn">
            <!-- <img src="../../../assets/statusHttp/forbidden403.png" alt=""> -->
        </div>
        <div class="cont-text">
            <div class="cont-tittle animate__animated animate__fadeInLeft">
                <h1 class="tittle">Uuups... 401! <span class="util"></span></h1>
            </div>
            <div class="cont-sub-tittle  animate__animated animate__backInRight nimate__delay-1500ms">
                <h4 class="sub-tittle">Lo sentimos, pero al parecer careces de credenciales, le recomendamos iniciar
                    sessión.</h4>
            </div>
            <div class="cont-btn animate__animated animate__fadeInUp animate__delay-1s">
                <button mat-raised-button class="btn font" color="accent" (click)="navegar()">Ir al login
                    <mat-icon>login</mat-icon></button>
            </div>

        </div>
        <!-- 
        <div style="height: 150px; overflow: hidden;" >
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M-1.12,35.07 C204.86,184.08 342.56,-87.29 500.00,49.99 L500.00,150.00 L-0.00,150.00 Z" style="stroke: none; fill: #08f;"></path>
            </svg>
        </div>-->


        <div style="height: 150px; overflow: hidden;" class="cont-wave">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-2.82,112.01 C258.46,-21.20 260.15,206.75 502.82,-1.47 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none;"></path>
            </svg>
        </div>

        <div class="ref animate__animated animate__backInRight animate__delay-1s">
            <span> © Transporte Santa Rosa</span>
        </div>
    </div>

</section>