<section class="cont-page">

    <div class="cont-representacion">

        <header class="header">
            <widget-card-tittle></widget-card-tittle>
        </header>

        <section class="font">

                <div class="cont-util ">
                    <div class=" cont-date">
                        <span class="point-tittle">{{'hoy' | uppercase}} </span>
                        <span >{{ _date  | date: 'MMM d, y, h:mm:ss a' }}</span>
                    </div>
                    <widget-button-elevated [text]="'Ver mis actividades'"  [routerLinkBtn]="'/page/calendar'"></widget-button-elevated>
                </div>
                
                <div class="cont-actions ">
                    <span class="point-tittle">{{'De interes:' | titlecase}} </span>
                    <div class="cont-util">
                       
                        <widget-card-action class="util" 
                            title="solicitudes" 
                            i="1." 
                            src="../../../../assets/imgs/icons/action-add.svg" 
                            issues="Realiza tu solicitud para servicios de transporte disponibles."
                        />
                        <widget-card-action class="util" 
                            title="beneficios" 
                            i="2." 
                            src="../../../../assets/imgs/icons/regalo.svg" 
                            issues="Disfruta de las promociones y descuentos."
                        />
                        <widget-card-action class="util" 
                            title="guia de usuario" 
                            i="3." 
                            src="../../../../assets/imgs/icons/guia-user.svg" 
                            issues="Conoce más del uso que le puedes dar a nuestro servicio web."
                        />
                    </div>
                </div>


                <div class="cont-info">
                    <span class="point-tittle">{{'Información:' | titlecase}} </span>

                    <div class="cont-util">
                        <div class="cont-puntos">
                            <ul>
                                <li>
                                    <div class="cont-cabezera-punto">
                                        <div><span>1</span></div><span>Mision</span>
                                    </div>
                                    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias recusandae vero dad asdperferendis vel eius laborum!</p>
                                </li>
                                <li>
                                    <div class="cont-cabezera-punto">
                                        <div><span>2</span></div><span>Vision</span>
                                    </div>
                                    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias recusandae vero dad asdperferendis vel eius laborum!</p>
                                </li>
                            </ul>
                        </div>

                        <div class="cont-device">
                            <div class="loader"></div>
                            <div class="loader"></div>
                            <div class="loader"></div>
                        </div>
                    </div>

                    
                </div>

        </section>


        <footer>    
            <!-- <component-footer></component-footer> -->
        </footer>
    </div>


</section>