.cont-layout-home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-02);

    &.dark{
        background-color: var(--color-base-background-dark-02);
    }
}

.cont-navegation{
    // background-color: red;
    // flex: 1 1 auto; //sirve para que tome la altura restante, util para otras ocasiones
}