
.cont-tag{
    background: #3B82F6; 
    color: #ffffff;
    padding: 0.25rem 0.4rem;
    border-radius: 6px;
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    & > .tag{
        font-size: 9px;
        font-weight: 700;
        user-select: none;
    }
}


@media  screen and (max-width: 1100px) {
    .tag{
        font-size: 8px;
    }
}