<section class="cont-page font">

    <div class="cont-representacion">
        <section class="cont-action">

            <div class="cont-ipts">

                <widget-input [label]="'Filtra por: Nombres, apellidos, ruc y dni'"
                    [placeholder]="'Filtra por: Nombres, apellidos, ruc y dni'" class="w-ipt"
                    (valor)="filtroPorCampo($event)" />
            </div>

        </section>


        <!--* Tabla y filto local -->
        <section class="cont-datasource">

            <div class="datasource">
                <div class="cont-table-crud">

                    <div class="body-cont-table">

                        <!--* cont del filtro -->
                        <div class="cont-filter">

                            <div class="inputContainer ">
                                <input required="required" class="inputField" placeholder="Filtro" type="text"
                                    (keyup)="applyFilter($event)" #input>
                                <label class="usernameLabel font">Filtro</label>
                                <img class="userIcon" src="../../../../assets/imgs/icons/filter.svg">

                            </div>
                        </div>
                        <!--* END - cont del filtro -->

                        <!--* contenedor de la tabla y el paginador  -->
                        <div class="cont-operations">

                            <!--* contenedor de la tabla  -->
                            <div class="cont-table" id="dvContTable">
                                <!--* TABLA  -->
                                <table mat-table [dataSource]="dataSource" matSort>


                                    <!--* Fecha Column -->
                                    <ng-container matColumnDef="fecha">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha registrada </th>
                                        <td mat-cell *matCellDef="let row"> <span
                                                style="font-weight: normal;">{{row.fecha | date : 'medium' }} </span>
                                        </td>
                                    </ng-container>

                                    <!--* ID Column -->
                                    <ng-container matColumnDef="idFactura">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Factura </th>
                                        <td mat-cell *matCellDef="let row">

                                            <div style="display: flex; align-items: center; gap: 7px; margin: auto;">
                                                <span style="font-weight: 700;"> {{row.idFactura}}</span>
                                                <!--* edicion para factura  -->
                                                <button mat-icon-button color="primary"
                                                    style="color: var(--color-button-01);"
                                                    (click)="fnCreateOrUpdate( row )"><mat-icon><svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                            id="Filled" x="0px" y="0px" viewBox="0 0 512 512"
                                                            style="enable-background:new 0 0 512 512;"
                                                            xml:space="preserve" width="512" height="512">
                                                            <g>
                                                                <path
                                                                    d="M304.661,287.061L499.605,92.117c16.2-16.175,18.966-47.974-9.067-65.344c-23.989-11.806-42.541-1.743-51.179,8.341   L252.309,242.283C274.227,251.016,292.636,266.762,304.661,287.061z" />
                                                                <path
                                                                    d="M106.667,405.333h106.667c35.346,0,64-28.654,64-64s-28.654-64-64-64C128,277.333,106.667,405.333,106.667,405.333z" />
                                                                <path
                                                                    d="M341.333,405.333c0-35.346,28.654-64,64-64H512v-201.28L319.147,332.907c0.235,2.837,0.853,5.547,0.853,8.427   C319.929,400.214,272.214,447.93,213.333,448H106.667c-23.564,0.003-42.669-19.097-42.672-42.661c0-2.353,0.194-4.703,0.581-7.024   c9.685-58.069,49.237-154.325,136.384-162.816L407.573,6.677c2.03-2.045,4.166-3.982,6.4-5.803C411.072,0.64,408.299,0,405.333,0   H106.667C47.786,0.071,0.071,47.786,0,106.667v298.667C0.071,464.214,47.786,511.93,106.667,512h234.667V405.333z" />
                                                                <path
                                                                    d="M405.333,384C393.551,384,384,393.551,384,405.333V505.6c15.051-5.162,28.744-13.65,40.064-24.832l56.704-56.704   c11.182-11.32,19.67-25.013,24.832-40.064H405.333z" />
                                                            </g>
                                                        </svg>
                                                    </mat-icon></button>
                                            </div>

                                        </td>
                                    </ng-container>

                                    <!--* Codigo Factura Column -->
                                    <ng-container matColumnDef="codigoFactura">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod. Factura </th>
                                        <td mat-cell *matCellDef="let row"> {{row.codigoFactura}} </td>
                                    </ng-container>

                                    <!--* Id Orden Servicio Column -->
                                    <ng-container matColumnDef="idOrdenServicio">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Orden Servicio </th>
                                        <td mat-cell *matCellDef="let row">
                                            <div style="display: flex; align-items: center; gap: 7px; margin: auto;">
                                                <span style="font-weight: 700;">
                                                    {{row.ordenServicio.idOrdenServicio}}</span>
                                                <!--* edicion para orden de servicio  -->
                                                <button mat-icon-button color="accent" style="color: var(--rust-40);"
                                                    (click)="fnCreateOrUpdate( row.ordenServicio )"><mat-icon><svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                            id="Filled" x="0px" y="0px" viewBox="0 0 512 512"
                                                            style="enable-background:new 0 0 512 512;"
                                                            xml:space="preserve" width="512" height="512">
                                                            <g>
                                                                <path
                                                                    d="M304.661,287.061L499.605,92.117c16.2-16.175,18.966-47.974-9.067-65.344c-23.989-11.806-42.541-1.743-51.179,8.341   L252.309,242.283C274.227,251.016,292.636,266.762,304.661,287.061z" />
                                                                <path
                                                                    d="M106.667,405.333h106.667c35.346,0,64-28.654,64-64s-28.654-64-64-64C128,277.333,106.667,405.333,106.667,405.333z" />
                                                                <path
                                                                    d="M341.333,405.333c0-35.346,28.654-64,64-64H512v-201.28L319.147,332.907c0.235,2.837,0.853,5.547,0.853,8.427   C319.929,400.214,272.214,447.93,213.333,448H106.667c-23.564,0.003-42.669-19.097-42.672-42.661c0-2.353,0.194-4.703,0.581-7.024   c9.685-58.069,49.237-154.325,136.384-162.816L407.573,6.677c2.03-2.045,4.166-3.982,6.4-5.803C411.072,0.64,408.299,0,405.333,0   H106.667C47.786,0.071,0.071,47.786,0,106.667v298.667C0.071,464.214,47.786,511.93,106.667,512h234.667V405.333z" />
                                                                <path
                                                                    d="M405.333,384C393.551,384,384,393.551,384,405.333V505.6c15.051-5.162,28.744-13.65,40.064-24.832l56.704-56.704   c11.182-11.32,19.67-25.013,24.832-40.064H405.333z" />
                                                            </g>
                                                        </svg>
                                                    </mat-icon></button>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <!--* Codigo Orden Column -->
                                    <ng-container matColumnDef="codigoOrden">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cod. Orden Servicio </th>
                                        <td mat-cell *matCellDef="let row"> {{row.ordenServicio.codigoOrden}} </td>
                                    </ng-container>

                                    <!--* Estado Column -->
                                    <ng-container matColumnDef="estado">
                                        <th mat-header-cell *matHeaderCellDef id="estadoTh"> Estado </th>
                                        <td mat-cell *matCellDef="let row" id="estadoTd"> <mat-icon
                                                style="text-align: center;"
                                                [ngStyle]="{color: row.estado? '#0f0':'#f00'}">radio_button_unchecked</mat-icon>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="acciones">
                                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                        <td mat-cell *matCellDef="let row">

                                            <div class="cont-acction-buttons">
                                                <button mat-icon-button color="primary"
                                                    (click)="viewPdf( row )"><mat-icon>cloud_circle</mat-icon></button>
                                                <button mat-icon-button color="primary"
                                                    style="color: var(--color-button-01);"
                                                    (click)="fnCreateOrUpdate( row )"><mat-icon>edit_square</mat-icon></button>
                                                <button mat-icon-button color="warn"
                                                    (click)="fnDelete( row, true )"><mat-icon>delete</mat-icon></button>
                                                <button mat-icon-button color="accent"
                                                    (click)="fnDelete( row, false )"><mat-icon>bookmark_remove</mat-icon></button>
                                            </div>

                                        </td>
                                    </ng-container>



                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <!--* Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow style="width: 100% !important;">
                                        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro
                                            "{{input.value}}"</td>
                                    </tr>
                                </table>
                                <!--* END - TABLA -->
                            </div>
                            <!--* END - contenedor de la tabla  -->

                            <!--* cont - paginador -->
                            <div class="cont-paginator">

                                <!--* cont de los botones  -->
                                <div class="cont-paginator-btns">
                                    <button mat-icon-button color="primary"><img class="p-b" style="color: red;"
                                            src="../../../../assets/imgs/icons/file-pdf.png" alt=""></button>
                                    <button mat-icon-button color="primary"
                                        (click)="fnCreateOrUpdate()"><mat-icon>add</mat-icon></button>
                                    <button mat-icon-button color="primary"
                                        (click)="fnReloadData()"><mat-icon>cloud_sync</mat-icon></button>

                                </div>
                                <!--* END - cont de los botones  -->

                                <div class="example-spacer "></div>

                                <!--* paginador - MAIN -->
                                <mat-paginator *ngIf="!isEnableFilterPaginator; else paginatorFilter" class="paginator"
                                    [pageSizeOptions]="[1, 5, 10, 25, 100]" aria-label="Select page of users"
                                    [length]="cantidad" (page)="nextPage($event)"></mat-paginator>
                                <!--* END - paginador MAIN -->

                                <ng-template #paginatorFilter>
                                    <!--* paginador - FILTER -->
                                    <mat-paginator class="paginator" [pageSizeOptions]="[1, 5, 10, 25, 100]"
                                        aria-label="Select page of users" [length]="cantidad"
                                        (page)="nextPageFiltro($event)"></mat-paginator>
                                    <!--* END - paginador FILTER -->
                                </ng-template>

                            </div>
                            <!--* END - cont - paginador -->

                        </div>
                        <!--* END - contenedor de la taba y el paginador -->

                    </div>

                </div>
            </div>
        </section>
        <!--* END - Tabl y filtro local -->
    </div>


</section>