<section class="cont-edicion font">

    <section class="cont-header-edicion font">
        <span>{{data.title || ''}}</span>
        <span>{{data.subtitle || '' }}</span>
    </section>


    <section class="cont-body-edicion font">

        <form #frmSolicitud [formGroup]="frmGroupSolicitud" class="form-edicion">

            <div class="container-mff " style="display: none;">
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="idSolicitud">
                </mat-form-field>
            </div>



            <div class="row-ipt ">
                <div class="container-mff ">
                    <mat-form-field appearance="outline" >
                        <!-- <mat-label for="sltTipoServicio">Tipo de servicio</mat-label> -->
                        <mat-select placeholder="Tipo de servicio*" formControlName="servicio" id="sltTipoServicio">
                            <mat-option *ngFor="let servicio of servicios" [value]="servicio">
                                {{servicio.tipo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="container-mff">
                    <mat-form-field appearance="outline">
                        <mat-label>Cliente</mat-label>
                        <input matInput #iptTelefono type="text" placeholder="Ej. Mia" formControlName="cliente"
                            required>
                    </mat-form-field>
                </div>

            </div>

            <div class="row-ipt">
                <div class="container-mff">
                    <mat-form-field appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput #txArea formControlName="descripcion" maxlength="150"
                            minlength="15"></textarea>
                        <mat-hint align="end">{{txArea.value.length}}/150</mat-hint>
                    </mat-form-field>
                </div>
            </div>


            <div class="row-ipt">
                <div class="container-mff">
                    <mat-form-field appearance="outline">
                        <!-- <mat-label for="sltEstatus">Estado</mat-label> -->
                        <mat-select placeholder="Estado*" formControlName="estado" id="sltEstatus">
                            <mat-option *ngFor="let estado of estados" [value]="estado">
                                {{estado}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row-ipt">

                <div class="container-mff font">
                    <div class="row-ipt" style="gap: 10px">

                        <h2 class="font">Detalles: </h2>
                        <div style="display: flex; flex-direction: row-reverse;">
                            <button mat-stroked-button color="primary" style="height: 100%;" (click)="crearDetalle()"><mat-icon>add</mat-icon></button>
                        </div>
                    </div>
                    <div *ngIf="isAddDetalle">
                        <form [formGroup]="frmGroupDetalle" class="form-edicion font">
                            
                            <div class="row-ipt">
                                <div class="container-mff">
                                    <mat-form-field appearance="outline">
                                        <!-- <mat-label for="sltEstatus">Estado</mat-label> -->
                                        <mat-select placeholder="Estado Accion*" formControlName="estadoAccion" id="sltEstatusAction">
                                            <mat-option *ngFor="let e of estadoAccion" [value]="e">
                                                {{e}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div style="display: flex; gap: 22px;">
                                    <button mat-stroked-button type="button" color="primary" style="height: 100%; width: 100%;"(click)="addDetalle()" ><mat-icon>check</mat-icon></button>
                                    <button mat-stroked-button type="button"  color="warn" style="height: 100%; width: 100%;" (click)="cancelarAgregacionDetalle()"><mat-icon>close</mat-icon></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <mat-accordion  >
                        <mat-expansion-panel *ngFor="let d of detallesSolicitud; let i = index" class="font">
                            <mat-expansion-panel-header class="font">
                                <mat-panel-title>
                                    <ng-template #tag>
                                        <widget-tag [colorFondo]="'succes'" [value]="'nuevo detalle'" ></widget-tag>
                                    </ng-template>
                                    
                                    <ng-container  *ngIf="d.idDetalleSolicitud!=undefined; else tag">
                                        <span>ID detalle</span>: {{d.idDetalleSolicitud}} &nbsp;  <widget-tag [colorFondo]="'danger'" [value]="'nuevo detalle'" ></widget-tag>
                                    </ng-container>
                                    
                                </mat-panel-title>
                                <mat-panel-description class="font">
                                    ver más
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <section class="det-expan font">
                                <div>
                                    <p> <mat-icon>calendar_month</mat-icon> &nbsp; <span>Fecha de envio</span>: {{d.fecha | date : 'medium' }}</p>
                                    <p> <mat-icon>star</mat-icon>&nbsp; <span>Estado de la solicitud</span>: {{d.estadoAccion}}</p> 
                                </div>
                                <div style="display: flex; flex-direction: row-reverse;">
                                    <button mat-icon-button type="button"  color="warn"  (click)="quitarDetalle(i)"><mat-icon>close</mat-icon></button>
                                </div>
                            </section>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>


            <div class="cont-accion-edicion">
                <button mat-raised-button color="warn" type="button"
                    (click)="dialogRef.close()"><mat-icon>close</mat-icon>
                    CANCELAR </button>

                <button mat-raised-button type="button" color="primary" [disabled]="frmGroupSolicitud.invalid" (click)="operar()">
                    <mat-icon>check</mat-icon>LISTO
                </button>

            </div>

        </form>

    </section>


</section>