<section class="cont-edicion font">

    <section class="cont-header-edicion font">
        <span>{{data.title || ''}}</span>
        <span>{{data.subtitle || '' }}</span>
    </section>


    <section class="cont-body-edicion">

        <!--* CONTENEDOR DE PASOS -->
        <mat-stepper linear #stepper class="cont-pasos ">

            <!--* PASO 1 -->
            <mat-step [stepControl]="frmGroupCliente" [editable]="true">


                <form #frmTrabajador [formGroup]="frmGroupCliente" class="form-edicion">
                    <ng-template matStepLabel>Datos personales</ng-template>

                    <div class="container-mff " style="display: none;">
                        <mat-form-field>
                            <mat-label>ID</mat-label>
                            <input matInput formControlName="idCliente" required>
                        </mat-form-field>
                    </div>

                    <div class="container-mff " style="display: none;">
                        <mat-form-field>
                            <mat-label>ID Detalle CLiente</mat-label>
                            <input matInput formControlName="idDetalleCliente" required>
                        </mat-form-field>
                    </div>

                    <div class="row-ipt">

                        <div class="container-mff">
                            <mat-form-field>
                                <mat-select placeholder="Tipo de cliente*" #optTipoCliete formControlName="tipoCliente"
                                    (selectionChange)="evaluarFormulario(optTipoCliete.value)">
                                    <mat-option *ngFor="let tc of tiposCliente" [value]="tc.idTipoCliente">
                                        {{tc.tipo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="container-mff ">
                            <mat-form-field>
                                <mat-label>Ruc</mat-label>
                                <input matInput minlength="11" maxlength="11" placeholder="Ej. 20000000000"
                                    formControlName="ruc" required minlength="2">
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="container-mff ">
                        <mat-form-field>
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="pat@example.com" formControlName="nombres" required
                                minlength="2">
                        </mat-form-field>
                    </div>

                    <div class="row-ipt">
                        <div class="container-mff">
                            <mat-form-field>
                                <mat-label>Apellido paterno</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="apellidoPaterno"
                                    required>
                            </mat-form-field>
                        </div>
                        <div class="container-mff">
                            <mat-form-field>
                                <mat-label>Apellido materno</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="apellidoMaterno"
                                    required>
                            </mat-form-field>
                        </div>
                        <div class="container-mff">
                            <mat-form-field>
                                <mat-label>Edad</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="edad" type="number"
                                    required>
                            </mat-form-field>
                        </div>

                        <div class="container-mff">
                            <mat-form-field>
                                <mat-label>Número de celular</mat-label>
                                <input matInput #iptTelefono placeholder="pat@example.com" formControlName="telefono"
                                    required minlength="9" maxlength="9" min="900000000" max="999999999" type="number">
                                <mat-hint align="end">{{iptTelefono.value.length}}/9</mat-hint>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row-ipt">


                        <div class="container-mff">
                            <mat-form-field>
                                <!-- <mat-label for="sltEstatus">Estado</mat-label> -->
                                <mat-select placeholder="Estado*" formControlName="estado" id="sltEstatus">
                                    <mat-option *ngFor="let estado of estados" [value]="estado">
                                        {{estado}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="container-mff">
                            <mat-form-field>
                                <!-- <mat-label>Genero</mat-label> -->
                                <mat-select placeholder="Genero*" formControlName="genero">
                                    <mat-option *ngFor="let genero of generos" [value]="genero.idGenero">
                                        {{genero.tipo }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row-ipt">
                        <div class="container-mff">
                            <mat-form-field>
                                <mat-label>Ingresa tu email</mat-label>
                                <input matInput placeholder="Ej. mia@example.com" formControlName="email" required
                                    minlength="2">
                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="container-mff">
                            <mat-form-field>
                                <mat-label>Ingresa tu dni</mat-label>
                                <input matInput placeholder="Ej. 88888888" formControlName="dni" required minlength="8"
                                    maxlength="8">
                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>



                </form>

                <div class="cont-accion-edicion ">
                    <button mat-stroked-button color="warn" type="button"
                        (click)="dialogRef.close()"><mat-icon>close</mat-icon>
                        CANCELAR </button>
                    <button mat-stroked-button type="button" color="primary" matStepperNext
                        *ngIf="!hideSteepTwo; else btnListo"
                        [disabled]="frmGroupCliente.invalid"><mat-icon>chevron_right</mat-icon> SIGUIENTE </button>
                    <ng-template #btnListo>
                        <button mat-stroked-button type="button" color="primary" [disabled]="frmGroupCliente.invalid" (click)="operar(1)">
                            <mat-icon>check</mat-icon>LISTO
                        </button>
                    </ng-template>
                </div>

            </mat-step>
            <!--* END - PASO 1 -->

            <!--* PASO 2 -->
            <mat-step [stepControl]="frmGruopCredencials" [editable]="true" *ngIf="!hideSteepTwo">
                <form [formGroup]="frmGruopCredencials" (submit)="operar(2)">
                    <ng-template matStepLabel>Datos de la cuenta</ng-template>

                    <div class="container-mff">
                        <mat-form-field>
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Ej. dinosaurio" formControlName="username" required
                                minlength="2">
                        </mat-form-field>
                    </div>

                    <div class="container-mff">

                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hidePassword ? 'password' : 'text'"
                                placeholder="Ingrese su contraseña" formControlName="password" required>
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                    </div>

                    <div class="container-mff">

                        <mat-form-field>
                            <mat-label>Confirmacion del pasword</mat-label>
                            <input matInput [type]="hidePasswordConfirmacion ? 'password' : 'text'"
                                placeholder="Ingrese su contraseña" formControlName="passwordConfir" required>
                            <button mat-icon-button matSuffix
                                (click)="hidePasswordConfirmacion = !hidePasswordConfirmacion">
                                <mat-icon>{{hidePasswordConfirmacion ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="cont-accion-edicion">
                        <button mat-stroked-button color="warn" type="button" matStepperPrevious>
                            <mat-icon>chevron_left</mat-icon> ATRAS </button>
                        <button mat-stroked-button type="submit" color="primary"
                            [disabled]="frmGroupCliente.invalid || frmGruopCredencials.invalid">
                            <mat-icon>check</mat-icon>CREAR
                        </button>

                    </div>
                </form>
            </mat-step>
            <!--* END - PASO 2 -->

        </mat-stepper>
        <!--* END -CONTENEDOR DE PASOS -->
    </section>


    <!-- <section class="cont-accion-edicion">
        <button mat-raised-button color="primary"> <mat-icon>check</mat-icon> </button>
        <button mat-raised-button color="warn" (click)="dialogRef.close()"> <mat-icon>close</mat-icon> </button>
    </section> -->


</section>

<!-- 
    * Las clases no aplican en el dentro del mat-stepper, pues le modifica la estructura de tu html original cuando lo compila 
    *
-->