<section class="cont-page">

    <div class="cont-representacion font">

        <header class="header">
            <widget-card-tittle></widget-card-tittle>
        </header>

        <section class="font cont-body__inicio">

                <div class="cont-util ">
                    <div class=" cont-date">
                        <span class="point-tittle">{{'hoy' | uppercase}} </span>
                        <span >{{ _date  | date: 'MMM d, y, h:mm:ss a' }}</span>
                    </div>
                    <div class="cont-btns">
                        <widget-button-elevated [text]="'Ver mis actividades'"  [routerLinkBtn]="'/page/calendar'"></widget-button-elevated>
                        <widget-button-elevated [text]="'Ver mi perfíl'"  [routerLinkBtn]="'/page/perfil'"></widget-button-elevated>
                    </div>

                </div>
                
                <div class="cont-actions ">
                    <span class="point-tittle">{{'De interes:' | titlecase}} </span>
                    <div class="cont-util">
                       
                        <widget-card-action class="util" 
                            title="solicitudes" 
                            i="1." 
                            src="../../../../../assets/imgs/icons/action-add.svg" 
                            issues="Realiza tu solicitud para servicios de transporte disponibles."
                        />
                        <widget-card-action class="util" 
                            title="beneficios" 
                            i="2." 
                            src="../../../../../assets/imgs/icons/regalo.svg" 
                            issues="Disfruta de las promociones y descuentos."
                        />
                        <widget-card-action class="util" 
                            title="guia de usuario" 
                            i="3." 
                            src="../../../../../assets/imgs/icons/guia-user.svg" 
                            issues="Conoce más del uso que le puedes dar a nuestro servicio web."
                        />
                    </div>
                </div>


                <div class="cont-info">
                    <span class="point-tittle">{{'Información:' | titlecase}} </span>

                    <div class="cont-util">
                        <div class="cont-puntos">
                            <ul>
                                <li>
                                    <div class="cont-cabezera-punto">
                                        <div><span>1</span></div><span>MISION</span>
                                    </div>
                                    
                                    <p>Misión Ofrecer un servicio de calidad, respetando la seguridad y el confort, para así consolidarnos con la confianza de nuestros clientes.</p>
                                </li>
                                <li>
                                    <div class="cont-cabezera-punto">
                                        <div><span>2</span></div><span>VISION</span>
                                    </div>
                                    
                                    <p>Visión Posicionarnos en el mercado local como una de las empresas con el mejor servicio de transportes de personal, aprendiendo y mejorando continuamente. </p>
                                </li>
                            </ul>
                        </div>

                        <div class="cont-device">
                            <div class="loader"></div>
                            <div class="loader"></div>
                            <div class="loader"></div>
                        </div>
                    </div>

                    
                    <div class="cont-util">
                       
                        <widget-card-action class="util" 
                            
                            title="Empresa" 
                            src="../../../../../assets/imgs/icons/empresa.svg" 
                            issues="Realiza tu solicitud para servicios de transporte disponibles."
                        />
                        <widget-card-action class="util" 
                            title="Ubicación" 
                            src="../../../../../assets/imgs/icons/map-marker.svg" 
                            issues="Disfruta de las promociones y descuentos."
                        />
                        <widget-card-action class="util" 
                            title="Empleabilidad" 
                            src="../../../../../assets/imgs/icons/pizarra-user.svg" 
                            issues="Conoce más del uso que le puedes dar a nuestro servicio web."
                        />
                    </div>
                    
                </div>

        </section>


        <footer class="footer">    
            <div class="cont-derechos">
                <span></span>
                <span class="derechos">Todos los derechos reservados - © grupo 8</span>
                <span></span>
            </div>
            <div class="cont-redes-sociales">
                
                    <!-- los tipos de boton estan definidos en el archivo btn-types.ts -->
                    <widget-button-social class="redes-sociales" [btnType]="btnTypes.BtnGitHub" link="https://github.com/DaGcc/TRANSPORTE_SR-APP-FRONT-END"></widget-button-social>
                    <widget-button-social class="redes-sociales" [btnType]="btnTypes.BtnInstagram" link="." ></widget-button-social>
                    <widget-button-social class="redes-sociales" [btnType]="btnTypes.BtnTwitter"></widget-button-social>
            
            </div>
            
        </footer>
    </div>


</section>