<div class="cont-table-crud">

    <div class="body ">

        <!--* cont del filtro -->
        <div class="cont-filter">

            <div class="inputContainer ">
                <input required="required" class="inputField" placeholder="Filtro" type="text"
                    (keyup)="applyFilter($event)" #input>
                <label class="usernameLabel font">Filtro</label>
                <img class="userIcon" src="../../../../assets/imgs/icons/filter.svg">

            </div>
        </div>
        <!--* END - cont del filtro -->

        <!--* contenedor de la tabla y el paginador  -->
        <div class="cont-operations">

            <!--* contenedor de la tabla  -->
            <div class="cont-table" id="dvContTable">
                <!--* TABLA  -->
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container *ngFor="let d of displayedColumns">

                        <ng-container *ngIf="d!='acciones'; else acciones" [matColumnDef]="d">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{d | titlecase}} </th>
                            <td mat-cell *matCellDef="let row ; let i = index"> {{row[d]}} </td>
                        </ng-container>
                    </ng-container>


                    <!-- Progress Column -->
                    <!-- <ng-container matColumnDef="progress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                    </ng-container> -->

                    <!-- Name Column -->
                    <!-- <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container> -->

                    <!-- Fruit Column -->
                    <!-- <ng-container matColumnDef="fruit">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
                        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container> -->

                    <ng-template #acciones>
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let row">

                                <div class="cont-acction-buttons">
                                    <button mat-icon-button color="primary" (click)="fnCreateOrUpdate( row )"><mat-icon>edit</mat-icon></button>
                                    <button mat-icon-button color="warn"(click)="fnDelete( row )" ><mat-icon>delete</mat-icon></button>
                                </div>

                            </td>
                        </ng-container>
                    </ng-template>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow style="width: 100% !important;">
                        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
                    </tr>
                </table>
                <!--* END - TABLA -->
            </div>
            <!--* END - contenedor de la tabla  -->

            <!--* cont - paginador -->
            <div class="cont-paginator">

                <!--* cont de los botones  -->
                <div class="cont-paginator-btns">
                    <button mat-icon-button color="primary"><img class="p-b" style="color: red;"
                            src="../../../../assets/imgs/icons/file-pdf.png" alt=""></button>
                    <button mat-icon-button color="primary" (click)="fnCreateOrUpdate()"><mat-icon>add</mat-icon></button>
                </div>
                <!--* END - cont de los botones  -->

                <div class="example-spacer "></div>

                <!--* paginador -->
                <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page of users"></mat-paginator>
                <!--* END - paginador -->

            </div>
            <!--* END - cont - paginador -->

        </div>
        <!--* END - contenedor de la taba y el paginador -->

    </div>

</div>