.cont-card-action {
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: black;
    position: relative;
    border-radius: 15px;
    padding: 2em;
    transition: transform 0.4s ease;
    overflow: hidden;


    //!---- ---- ---- ---- dark-mode ---- ---- ---- ---- 
    transition: all .2s ease;
    ::ng-deep .cont-layout-home.dark & {
       
        // color: var(--text-color-darkmode-00);
        background-color: var(--container-color-dark);
        border: 1px solid var(--border-color-dark);
        // box-shadow: 0 6px 25px rgba(42, 59, 71,0.003);
    }

    //!---- ---- ---- ---- END - dark-mode ---- ---- ---- 
}

.cont-card-action .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
    height: 100%;
    transition: transform 0.4s ease;
}

.cont-card-action .card-top,
.cont-card-action .card-bottom {
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.cont-card-action .card-top p,
.cont-card-action .card-top .card-title,
.cont-card-action .card-bottom p,
.cont-card-action .card-bottom .card-title {
    margin: 0;
}


.cont-card-action .card-top p {
    font-weight: 600;
    color: var( --color-button-01);
}

.cont-card-action .card-top span {
    color: var(--color-button-02);
}

.cont-card-action .card-title {
    font-weight: bold;
}

.cont-card-action .card-bottom p {
    font-weight: 400;
    user-select: none;

}

.cont-card-action .card-bottom {
    align-items: flex-end;
    color: rgb(79, 97, 104);
    // color: #93ff93;
}

.cont-card-action .card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
    user-select: none;
}

.cont-card-action .card-image img {
    //or svg
    width: 45px;
    height: 45px;
    margin: 5px;
    transition: transform 0.4s ease;
    fill: red !important;
    // background-color: red;

}

.cont-card-action:hover {
    cursor: pointer;
    transform: scale(0.97);
}

.cont-card-action:hover .card-content {
    transform: scale(0.96);
}

.cont-card-action:hover .card-image img {
    //or svg
    transform: scale(1.12);
}

.cont-card-action:active {
    transform: scale(0.9);
}