

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont-breadcrumb{
    // height: 6vh;
    padding: 4px 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // box-shadow: 0 0 10px -2px  rgba(0, 0, 0, 0.15);
    font-family: 'Ubuntu', sans-serif !important;
    // border-radius: inherit;
}

.cont-tittle span{
    font-size:large;
    font-weight: 500;

}
.cont-lista ul{    
    list-style: none;
    display: flex;
    align-items: center;
    
}

.cont-lista ul li {

    display: flex;
    align-items: center;
    & > a{
        // color: #fa8000;
        // color: var(--purple-60);
        color: #f00;
        font-size: 11px;
        font-weight: 500;
        // color:rgb(53, 59, 66);
        text-decoration: none;
        margin: 5px;
    }

    & > span{
        & > .custom-icon{
            // color: rgba(255, 132, 0, 0.383) !important;
            // color: rgba(214, 214, 214, 0.699);
            color: var(--color-base-background-03);
            display: flex;
        }
    }
  
}