.cont-calendar {
    display: block;
    width: 100%;
    // background-color: red;
}
.cont-view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#external-events {
    // position: fixed;
    position: relative;
    // width: 150px;
    width: 20%;
    height: fit-content;
    padding: 10px;
    // border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
}

#external-events .fc-event {
    cursor: move;
    margin: 3px 0;
}

.cont-calendario {
    // display: block;
    height: 70vh;
    // flex: 1 1 auto;  
    width: 950px; //ADAPTARLO 
}