.sidenav-drawer {
  // height: 100%;
  height: 92vh;
  background-color: transparent !important;
  // overflow: auto;
}


.sidenav {
  background-color: red !important;
  width: 280px;
  border-right-width: 0px;
  // background-color: red;


}


.cont-sidenav-list {
  width: 100%;
  height: 100%;
  padding: 15px 0 16px 16px;
  display: flex; //!!!!!!----------CAMBIO 
  flex-direction: column; //!!!!!!-------CAMBIO
  // justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: #eaf7ff;

  //!---- ---- ---- ---- dark-mode ---- ---- ---- ---- 
  transition: all .2s ease;

  ::ng-deep .cont-layout-home.dark & {
    background-color: var(--body-color-dark);

  }

  //!---- ---- ---- ---- END - dark-mode ---- ---- ---- 

}


.cont-perfil-info,
.cont-menu-list {
  width: 100%; //or 90%
  background-color: #fff;
  // box-shadow: 0px 0px 10px 1px rgba(226, 229, 232, 0.759);
  border-radius: 10px;
}

.cont-perfil-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 14px;
  background-color: transparent;
  box-shadow: none;
  // padding: 15px;
}

.cont-btn-menus{
  position: absolute;
  top:0;
  left: 0;
  
}

.cont-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 10px solid var(--background-02);
  box-sizing: content-box;
  overflow: hidden;
  // background-color: red;
  // filter: drop-shadow(0 0 10px rgba(121, 18, 255, 0.545));
  // box-shadow: 0 5px 45px -5px rgba(255, 0, 0, 0.545);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -15px;

  & img {
    height: 100%;
  }




  //!---- ---- ---- ---- dark-mode ---- ---- ---- ---- 
  transition: all .2s ease;

  ::ng-deep .cont-layout-home.dark & {
    border: 10px solid var(--body-color-dark);
  }

  //!---- ---- ---- ---- END - dark-mode ---- ---- ---- 
}

.cont-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px 16px 16px 16px;
  border-radius: 10px;

  // box-shadow: 0px 0px 10px 1px rgba(226, 229, 232, 0.759);
  & span {
    font-size: smaller;
    font-weight: 600;
    color: var(--text-color-01);
    text-align: center;
    // background-color: red;
  }

  & span:last-child {
    font-weight: 400;
    color: var(--disabled-text-02);
    --animate-duration: 1200ms;
    // --animate-delay: 2s ;
  }

  //!---- ---- ---- ---- dark-mode ---- ---- ---- ---- 
  transition: all .2s ease;

  ::ng-deep .cont-layout-home.dark & {
    background-color: var(--container-color-dark);
    // border: .5px solid var(--border-color-dark);
  }

  //!---- ---- ---- ---- END - dark-mode ---- ---- ---- 
}

.cont-menu-list {

  max-height: 90% !important;
  width: 100%; //!!CAMBIO
  overflow: overlay;
  margin: 0;
  padding: 10px 0px;
  // transition: all 200ms ease-in-out !important;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    background: transparent;

    & li {
      width: 100%;
      background: transparent;

      // background-color: aquamarine; 
      & button {
        border-radius: 0px;
        width: 100%;
        height: 50px;
        // max-height: fit-content;
        // gap: 25px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: start;
        background: transparent;

        & mat-icon {

          transition: all 400ms ease-in-out;

          color: var(--color-button-02);
          margin: 0 6px 0px 0px; //!!CAMBIO => all 0, se establece en el hover
          // margin: 0 ;
          padding: 15px 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
        }

        & span {
          // display: none;
          color: var(--text-color-01);
        }

      }

      & button:hover:not(.active) {
        & mat-icon {
          background-color: rgb(255, 255, 255);
          transform: scale(1.2)
        }
      }
    }



  }

  //!---- ---- ---- ---- dark-mode ---- ---- ---- ---- 
  transition: all .2s ease;
  ::ng-deep .cont-layout-home.dark & {
    background-color: var(--container-color-dark);
  }
  //!---- ---- ---- ---- END - dark-mode ---- ---- ---- 
  /*SE PUEDE IMPLEMENTAR COMENTANDOLO Y PONIENDO UN WIDTH:30% INICIAL
  &:hover {
    
    width: 100%; //!!! CAMBIO---------
    & ul li button {
      & mat-icon {
        margin: 0 6px 0px 0px; 
      }
      & span {
        
        display: inline-block;
      }
    }
  }*/
}

.active {
  & span{
    color: var(--color-base-background-01) !important;
    font-weight: 500;
  }
  & mat-icon {
    // background-color: var(--background-02) !important;
    background-color: var(--purple-30) !important;
    // background-color: #2d8cf0;
    // color: var(--color-base-background-01) !important;
    color: var(--color-button-01) !important;
  }

    //!---- ---- ---- ---- dark-mode ---- ---- ---- ---- 
    // transition: all .2s ease;
    ::ng-deep .cont-layout-home.dark & {
      & span{
        color: var(--color-base-background-03) !important;
      }
    }
    //!---- ---- ---- ---- END - dark-mode ---- ---- ---- 

}

//!!!IMPORTANTE - estilos del scrol de los botones de la barra lateral
.cont-menu-list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.cont-menu-list::-webkit-scrollbar-track {
  background-color: transparent !important;
  /*color de la barra de fondo*/
}

.cont-menu-list::-webkit-scrollbar-thumb {
  // width: 1px;
  border-radius: 25px;
  border: 5px solid transparent !important;
  // background-color: var(--color-base-background-03); /*color del manejador*/
  background-color: transparent;
}

.cont-menu-list::-webkit-scrollbar {
  display: none;
  width: 5px;
  /*ancho del scroll vertical*/
  // height: 10px; /*alto del scroll horizontal*/
}



//*ESTILO DEL CONTENEDOR DE SCREENS  
.cont-drawer {
  // background-color: rgb(143, 120, 120);
  padding: 5px 16px;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.cont-breadcrumb {
  position: sticky;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
  // background-color: rgba(255, 255, 255, 0.927);
  background-color: #fff;
  // backdrop-filter: blur(60px);
  // box-shadow: 0px 0px 10px 1px rgba(226, 229, 232, 0.759);

  //!---- ---- ---- ---- dark-mode ---- ---- ---- ---- 
  transition: all .2s ease;

  ::ng-deep .cont-layout-home.dark & {
    background-color: var(--container-color-dark);
    color: var(--title-color-dark);
  }

  //!---- ---- ---- ---- END - dark-mode ---- ---- ---- 

}

.cont-router {
  padding: 16px 5px;
  height: 100%;
  overflow: auto;
  // background-color: #28335b;
}

//!!!IMPORTANTE - estilos del scroll de los screens
.cont-router::-webkit-scrollbar {
  -webkit-appearance: none;
}

.cont-router::-webkit-scrollbar-track {
  background-color: transparent !important;
  /*color de la barra de fondo*/
}

.cont-router::-webkit-scrollbar-thumb {
  // width: 1px;
  border-radius: 25px;
  border: 5px solid transparent !important;
  // background-color: var(--color-base-background-03); /*color del manejador*/
  // background-color: var(--purple-30); 
  background-color: #f00
}

.cont-router::-webkit-scrollbar {
  // display: none;
  width: 5px;
  /*ancho del scroll vertical*/
  // height: 10px; /*alto del scroll horizontal*/
}

@media screen and (max-width: 900px) {
  .cont-sidenav-list{
    padding: 10px 16px;
  }
}