<!-- [ngClass]="{'dark' : darkModeService.isDarkMode()}" -> esto si es que no usas ::ng-deep -->
<mat-drawer-container class="sidenav-drawer" autosize >

  <!--* Barra lateral  -->      
  <!-- [mode]="(ish$ | async) ? 'over' : 'side'" [opened]="(ish$ | async) === false"                                                                   -->
  <mat-drawer #drawer class="sidenav"  
  [mode]="getScreenWidth<=pixelResponsive?'over':'side'" [opened]="getScreenWidth<=pixelResponsive?false:true" [autoFocus]="'flase'" >

    <div class="cont-sidenav-list">

      <!--* pefil info -->
      <section class="cont-perfil-info">

        <div class="animate__animated animate__zoomIn animate__faster cont-img">

          <img src="../../../../assets/imgs/perfil/sad.png" alt="">

        </div>

        <div class="cont-info font">
          <span class="animate__animated animate__fadeInDown">Daniel Gutierrez</span>
          <span class="animate__animated animate__fadeInDown">gutierrezcallazacadaniel@gmail.com</span>
        </div>

      </section>
      <!--* END - pefil info -->


      <!--* lista de botones -->
      <!-- !PUEDES AGREGAR ESTAS CLASES PARA ANIMAR  => animate__animated animate__backInLeft animate__fast -->
      <section class=" cont-menu-list">
        <ul>

          <li>
            <button mat-flat-button routerLink="/page/inicio" [routerLinkActive]="'active'" class="font">
              <mat-icon >home</mat-icon>
              <span>Inicio</span>
            </button>
          </li>
          <li>
            <button mat-flat-button class="font">
              <mat-icon >fact_check</mat-icon>
              <span>Gestion de facturas</span>
            </button>
          </li>
          <li>
            <button mat-flat-button class="font">
              <mat-icon >design_services</mat-icon>
              <span>Servicios</span>
            </button>
          </li>
          <li>
            <button mat-flat-button routerLink="./" class="font">
              <mat-icon >airport_shuttle</mat-icon>
              <span>Gestion de Flota</span>
            </button>
          </li>
          <li>
            <button mat-flat-button routerLink="/page/trabajadores"  [routerLinkActive]="'active'" class="font">
              <mat-icon >engineering</mat-icon>
              <span>Gestion de Trabajadores</span>
            </button>
          </li>
          <li>
            <button mat-flat-button routerLink="./" class="font">
              <mat-icon >contacts</mat-icon>
              <span>Gestion de Clientes</span>
            </button>
          </li>
          <li>
            <button mat-flat-button routerLink="/page/geolocalizacion" [routerLinkActive]="'active'" class="font">
              <mat-icon >my_location</mat-icon>
              <span>Geolocalizacion</span>
            </button>
          </li>
          <li>
            <button mat-flat-button routerLink="/page/calendar" [routerLinkActive]="'active'" class="font">
              <mat-icon>calendar_month</mat-icon>
              <span>Gestion de actividades</span>
            </button>
          </li>

        </ul>
      </section>
      <!--* END - lista de botones -->
    </div>

  </mat-drawer>
  <!--* END - Barra lateral  -->


  <!--* contenedor de screens -->
  <mat-drawer-content class="cont-drawer">


    <!--* cabezera -->
    <div class="cont-breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <!--* END - cabezera -->

    <!--* screens  -->
    <div class="cont-router">
      <router-outlet  (activate)="onActivate($event)"></router-outlet>
    </div>
    <!--* END - screens  -->

  </mat-drawer-content>
  <!--* END - contenedor de screens  -->
</mat-drawer-container>