
.cont-representacion {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cont-action {

  display: flex;
  // background-color: red;
  justify-content: center;
  align-items: center;
}

.cont-ipts {
  padding: 25px 0 0 0;
  display: flex;
  // justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  // background-color: aqua;
  & .w-ipt {
    // margin: 10px;
    flex: 1 1 auto !important;
  }
}

.cont-datasource {

  

}